
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.box-background {

  height: 768px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  .left-box {

    height: 80%;
    width: 15%;
    position: absolute;
    top: 10%;
    left: 0;
    .banner-left {
      height: 85%;
      width: 80%;
      margin-left: 15%;
      background: white;
      padding-top: 20%;
      padding-bottom: 20px;
      padding-left:0;
      padding-right:0;
      border-radius: 5px;
      box-shadow: 0.3px 0.31px 10px gainsboro;

      .button {
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        margin:0px;
        font-family: "微软雅黑 Light";
        height: 12.5%;
        width: 100%;
        list-style: none;
        color: gray;
        border-top: 1px solid gainsboro;

.aBackGround{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10%;
  padding-right:10%;
  width:80%;
  margin:0;
  text-align: center;
  display: block;
  cursor:pointer;
}
      }
      .button:last-child{
        border-bottom: 1px solid gainsboro;
      }
      .button:hover{
        color: deepskyblue;
        box-shadow: gainsboro 1px 1px 30px ;
      }

    }

  }
  .right-box {
    margin-top:0;
    height: auto;
    width: 80%;
    position: absolute;
    top: 10%;
    right: 0;
    .showSection{
      height:192px ;
      width:192px;
      margin-top:10px;
      margin-left:10px;
      margin-bottom: 15px;
      margin-right:15px;
      float: left;
      background: white;
      border-radius: 5px;
      box-shadow: 0.1px 0.1px 20px gainsboro;
      font-family: "微软雅黑 Light";
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -ms-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s;
      -webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
      -o-transform: scale(1,1);
      transform: scale(1,1);
      figcaption{
        position: absolute;
        top:10px;
        left:15%;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;

        width:60%;
        padding:10px;
        text-align: center;
        border: 2px solid white;
        color: deepskyblue;
        border-radius: 5px;
        background: white;
      }
    }
    .showSection:hover{
      box-shadow: 1px 1px 50px gainsboro;
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      figcaption{
        cursor: pointer;
      }
      figcaption:hover{
        color:deepskyblue;
        background: white;
      }
    }
    .showSection:hover figcaption{
      -webkit-transform: translate(0,100%);
      -moz-transform: translate(0,100%);
      -ms-transform: translate(0,100%);
      -o-transform: translate(0,100%);
      transform: translate(0,100%);
      color: white;
      background: none;
    }
    /*
    img{
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s;
    }
    */
    .showSection:hover img{
      filter:blur(5px);
    }

  }

}
