<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>石大易班主页</title>  
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="myContainer" id="vue">
        <div class="myHead">
          <img src="./images/upclogo.png" alt="upclogo" width="240px">
          <img src="./images/ybfzzx.png" alt="易班发展中心" width="250px" class="ybfzzx">
          <button class="btn myBtn-head dengLu" onclick="dengLu()">登陆</button>
          <button class="btn myBtn-head shuZiShiDa" onclick="shuZiShiDa()">数字石大</button>
        </div>
      <div class="tags">

        <div class="tag" v-for="(key, item) in catalogList" v-bind:style="{'background': item.bgColor}">
          <div class="finger">
            <div class="circle"></div>
          </div>
          <button class="btn myBtn-tag" v-bind:class="{'my-active':currentIndex === key}" v-bind:style="{'background': item.btnColor}" v-on:click="changeCatalog(key)">{{item.name}}</button>
        </div>
      </div>
      <div class="content">
          <div class="apply" v-for="center in centers" v-on:click="app_href($index)">
              <p class="apply-p">{{center.name}}</p>
              <div class="apply-div" >
                <img v-bind:src="'homepage/app/icon/'+center.name" alt="logo" class="img">
              </div>
          </div>
      </div>
      <div class="my-footer">
        <img src="./images/address.png" alt="address" class="address">
        <img src="./images/logo.png" alt="yblogo" class="ybLogo">
      </div>
    </div>

    <script src="scripts/main.js"></script>
  </body>
</html>
