html,body{
    height: 100%;
    margin: 0;
}
.form{
    width: 360px;
    height: 360px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    padding: 20px 30px 10px 30px;
}
.form>.sub-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #90BEF9; 
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    cursor: pointer;
    user-select: none;
    transition: .1s all;
}
.form>.sub-btn:hover{
    box-shadow: 0 3px 10px #90BEF9;
}
.form>h1{
    text-align: center;
    color: #95989A;
}
.form>input{
    height: 40px;
    width: 340px;
    padding: 10px 10px 0px 10px;
    border:  2px solid #95989A;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: .1s all;
}
.form>input[name=username]{
    margin-top: 0;
}
.form>input[name=password]{
    margin-top: 30px;
    margin-bottom: 50px;
}
.form>input:focus{
    outline: none;
    border-color: #90BEF9
}
.msg-bar-hidden{
    position: fixed;
    top: 0;
    background: #90BEF9;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #FFF;
    transition: .3s all;
    transform: translateY(-100%)
}
.msg-bar-active{
    transform: translateY(0)
}
.default-box{
    width: 720px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    margin: 20px auto;
    overflow: hidden;
}
.data-title{
    color: #000;
    padding: 10px;
}
.carousel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.carousel-item-container{
    width: 359.5px;
    border-top: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
}
.carousel-item-container:nth-child(even){
    border-right: none;
}
.carousel-item-container>.carousel-img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 230px;
}
.carousel-item-container>.carousel-href-container{
    margin: 10px 0 10px;
    width: 243px;
    height: 40px;
    border: none;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .16);
    padding: 0 0 0 10px;
    line-height: 40px;
}
.carousel-href-container>.carousel-href{
    height: 32px;
    width: 200px;
    border: none;
}
.carousel-item-container>input[name="image"]{
    margin: 10px 0 10px 0;
}
.confirm-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #90BEF9; 
    text-align: center;
    margin: 10px auto 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    cursor: pointer;
    user-select: none;
    transition: .1s all;
}
.confirm-btn:hover{
    box-shadow: 0 3px 10px #90BEF9;
}