html,body{
    height: 100%;
    margin: 0;
}
.form{
    width: 360px;
    height: 360px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    padding: 20px 30px 10px 30px;
}
.form>.sub-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #90BEF9; 
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    cursor: pointer;
    user-select: none;
    transition: .1s all;
}
.form>.sub-btn:hover{
    box-shadow: 0 3px 10px #90BEF9;
}
.form>h1{
    text-align: center;
    color: #95989A;
}
.form>input{
    height: 40px;
    width: 340px;
    padding: 10px 10px 0px 10px;
    border:  2px solid #95989A;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: .1s all;
}
.form>input[name=username]{
    margin-top: 0;
}
.form>input[name=password]{
    margin-top: 30px;
    margin-bottom: 50px;
}
.form>input:focus{
    outline: none;
    border-color: #90BEF9
}
.msg-bar-hidden{
    position: fixed;
    top: 0;
    background: #90BEF9;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    color: #FFF;
    transition: .3s all;
    transform: translateY(-100%)
}
.msg-bar-active{
    transform: translateY(0)
}
.default-box{
    width: 720px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    margin: 20px auto;
    overflow: hidden;
}
.data-title{
    color: #000;
    padding: 10px;
    border-bottom: 1px solid #E2E2E2;
}
.carousel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.carousel-item-container{
    width: 359.5px;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    overflow: hidden;
}
.carousel-item-container:nth-child(even){
    border-right: none;
}
.carousel-item-container>.carousel-img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 230px;
}
.carousel-item-container>.carousel-href-container{
    margin: 10px 0 10px;
    width: 243px;
    height: 40px;
    border: none;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .16);
    padding: 0 0 0 10px;
    line-height: 40px;
}
.carousel-href-container>.carousel-href{
    height: 32px;
    width: 200px;
    border: none;
}
.carousel-item-container>input[name="image"]{
    margin: 10px 0 10px 0;
}
.confirm-btn{
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #90BEF9; 
    text-align: center;
    margin: 10px auto 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
    cursor: pointer;
    user-select: none;
    transition: .1s all;
}
.confirm-btn:hover{
    box-shadow: 0 3px 10px #90BEF9;
}
.notice-container{
    border-top: 1px solid #E2E2E2;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#notice1-first{
    border-top: none;
}
#notices2-container>.data-title{
    border-bottom: none;
}
.notice-container>label{
    display: block;
    width: 10%;
    text-align: center;
    font-size: 15px;
}
.notice-container>textarea{
    width: 85%;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .16) inset;
    font-size: 15px;
}
.notice-container>input{
    width: 85%;
    border: none;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .16) inset;
    font-size: 15px;
}
.app-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.app-item-container{
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    width: 179px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap; 
    flex-direction: row; 
}
.app-container>.app-item-container:nth-child(4n){
    border-right: none;
}
.app-item-container>.app-icon{
    width: 90%;
    margin: 5px 0 5px;
}
.app-item-container>.app-name{
    width: 80px;
    margin: 10px 0 10px;
    border: 1px solid #E2E2E2;
    text-align: center;
}
.app-item-container>.app-icon-upload{
    margin: 0 0 10px;
    width: 80%;
}
.app-item-container>.app-href{
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #E2E2E2;
}
.confirm-btn-small{
    height: 25px;
    width: 60px;
    margin:0 5px 10px;
    color: #fff;
    background: #90BEF9; 
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 25px;
    font-size: 15px;
}
.delete-btn-small{
    height: 25px;
    width: 60px;
    margin:0 5px 10px;
    color: #fff;
    background: #FF6868;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 25px;
    font-size: 15px;
}
.add-app-container{
    height: 310.094px;
    background: url("assets/add.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#save-btn{
    position: fixed;
    bottom: 10%;
    right: 10%;
    user-select: none;
    background: #00FEB0;
    width: 7em;
    text-align: center;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
}
#fetch-btn{
    position: fixed;
    bottom: 20%;
    right: 10%;
    user-select: none;
    background: rgb(17, 226, 253);
    width: 7em;
    text-align: center;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .16);
}
.login-container{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    background: white;
}
::-webkit-scrollbar{
    width: 4px;
    background: white;
}
::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: rgba(0, 0, 0, .4)
}