@media (max-width: 1240px){
    .InfoSection{
        width: 1200px;        
    }

}
@media (min-width: 1240px){
    .InfoSection{
        width: 80%;
    }
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.InfoSection{
    height: 250px;
	padding-bottom: 10px;
    margin: 0 auto;
    position: relative;
}
.list-header{
	width: 100%;
	margin: 15px auto 5px auto;

}
.list-header-li{
	width: 15.8%;
	height: 40px;
	list-style: none;
	display: inline-block;
	text-align: center;
	margin-right: 1%; 
	background: rgba(163, 167, 179, 0.82);
	border-radius: 10px;
}
.list-header-li:last-child{
	margin-right: 0;
}
.list-header-li a{
	text-decoration: none;
	color: white;
}
.list-header-li p{
	margin-top: 10px;
}
.list-vertical{
	width: 10%;
	height: 200px;
	float: left;
}
.list-vertical-li{
	background: rgba(163, 167, 179, 0.82);
	text-align: center;
	list-style: none;
	height: 40px;
	margin: 12px 0;
	border-radius: 10px;
}
.list-vertical-li a{
	color: white;
	text-decoration: none;
	line-height: 40px;
}
.news-all-container{
	float: left;
	width: 80%;
}
.YbCarousel{
	float: left;
	margin: 1% 1%;
	/*margin-left: 30px;*/
	padding: 0;
	background: rgba(255, 255, 255, .6);
	border-radius: 10px;
	height: 200px;
	width: 30%;
}
.notice-container{
	float: left;
	width: 28%;
	margin: 1% 0.5%;
	padding: 0 2% 20px 2%;
	background: rgba(255, 255, 255, .6);
	border-radius: 10px;
	height: 180px;
	overflow: hidden;
}
.notice-container>h2{
	line-height: 10px;
	text-align: center;
}
.notice-container>a{
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: black;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	display:inline-block;
	text-overflow:ellipsis;
}
.customize-slick-slider{
	height: 180px;
}
.slick-item{
	display: block;
	height: 200px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}
.slick-item>img{
	height: 100%;
	margin: 0 auto;
}
.teacher-info{
	float: left;
	width: 10%;
	height: 180px;
}
.teacher-box{
	display: block;
	width: 100%;
	background: rgba(255, 255, 255, .5);
	margin: 15px 0 0 0;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	text-decoration: none;
	color: white;
}
.teacher-box>img{
	width: 90%
}
.teacher-box>div.college-logo{
	height: 100px;
	width: 90px;
	margin: 10px auto 0 auto;
	background: url(../../assets/logo/college-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}