@media (max-width: 1240px){
    .App{
        width: 1240px;        
    }

}
@media (min-width: 1240px){
    .App{
        width: 100%;
    }
}
.App{
    padding-top: 20px;
    height: 100%;
    background: url(assets/backgroud.png);
    background-size: cover;
}